<div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Welcome!</h4>
  <p>It seems that you are a new member. Start searching your favore animes to create your own lists.</p>
</div>

<div class="row">

	<div class="col-md-2">
		<div class="panel panel-success ">
			<div class="panel-heading">
				<h3 class="panel-title">Last Visited</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
	
	<div class="col-md-10">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title">Current Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>

</div>