<div class="anime-profile">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="http://cdn.myanimelist.net/images/anime/3/60551.jpg" alt="Fairy Tail" />
			</div>
		</div>
		<div class="col-md-6">
			<h1 class="col-md-12">Fairy Tail</h1>

			<p class="col-md-12">
				<span class="label label-default">Shounen</span>
				<span class="label label-info">Magic</span>
				<span class="label label-danger">Action</span>
				<span class="label label-primary">Fantasy</span>
				<span class="label label-warning">Comedy</span>
				<span class="label label-success">Adventure</span>
			</p>

			<p class="col-md-12 text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta ornare vehicula. Nullam risus massa, interdum quis fermentum sed, blandit aliquam eros. Nulla facilisi. Quisque tristique, nisl vel pulvinar interdum, velit nisl rhoncus ligula, eu bibendum lacus ipsum nec erat. Suspendisse cursus et leo eu aliquam. Duis semper scelerisque tortor. Pellentesque id faucibus libero. Suspendisse potenti.
			</p>

			<form role="form" class="form-horizontal">
				<div class="col-md-6">
					<select id="state" class="form-control input-lg">
					    <option value="0"><span class="fa fa-question-circle"></span> Not Watched Yet</option>
					    <option value="1">Current Watching</option>
						<option value="2">Completed</option>
					    <option value="3">Plan to Watch</option>
					    <option value="4">Droped</option>
					    <option value="5">Don't Wanna See!</option>
					</select>
				</div>
			</form>
		</div>
	</div>
</div>