/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar (if needed)
body {
	padding-top: 100px;
}

// Bootswatch style itself
//@import "bootswatch/flatly/bootswatch";
@import "bootstrap-material-design/ripples.min";
@import "bootstrap-material-design/material-wfont";

//*** Begin Custom Style ***
.text-muted {
	color: #b8c3c9;	
}
//*** End Custo Style


//*** Begin Navbar-Top ***
.navbar-fixed-top {
	@include box-shadow(rgba(blue, 0.4) 0 0 25px);

	padding-left: 30px;
	padding-right: 30px;

	.navbar-brand {
		padding-left: 0;
	}

	form {
		position: absolute;

		left:250px;
		right: 250px;

		.input-group {
			width: 100%;

			.input-group-addon {
				width: 30px;
			}

			.form-control-wrapper {
				bottom: 0;

				input {
					width: 100%;
				}
			}
		}
	}

	.profile-image {
	    margin-top: -10px;
	    margin-bottom: -10px;
	}
}

.left-menu {
	width: 225px;
	position: absolute;
	padding-left: 30px;
	padding-top: 20px;

	a:hover {
		background-color: transparent;
	}

	a {
		color: black;
	}

	&.affix{
		position: fixed;
	}
}

main {
	padding: 12px;
	margin-left: 225px;
}

footer .container{
	width: 350px;
}

//*** Begin Hacks ***
// Not now!
//*** End Hacks ***

//*** Begin Lists ***
.title{
	padding-left: 15px;
	padding-bottom: 15px;
}

.thumbnail {
	height: 150px;

	img {
		height: 140px;
		margin-right: 12px;
	}

	.caption{

	}
}
//*** End Lists ****