/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/******** Bootswatch: Flatly *********/

// First import flatly variables
@import "bootswatch/flatly/variables";

// Custom flatly variables
$navbar-default-bg: rgba(250, 250, 250, 0.9);
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: $brand-danger;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-active-bg: transparent;

// Other variables
$font-family-brand: 'Comfortaa', cursive;

// Bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar (if needed)
// No need now!

// Bootswatch style itself
@import "bootswatch/flatly/bootswatch";

//*** Begin Navbar-Top ***
.navbar-fixed-top {
	position: inherit;

	&.affix {
		position: fixed;
		@include box-shadow(rgba(blue, 0.4) 0 0 25px);
	}

	border-bottom-color: rgb(200, 200, 200);
	border-bottom-style: solid;
	border-bottom-width: 1px;

	height: 90px;
	padding: 15px;
	padding-right: 30px;
	
	input {
		border-radius: 25px;
		min-width: 300px;
	}

	.profile-image {
	    margin-top: -10px;
	    margin-bottom: -10px;
	}

	//*** Begin Brand ***
	.navbar-brand{
		width: 225px;
	}

	.navbar-brand > .brand {
		padding: 17px 12px 0px 12px;
		margin-top: -34px;
		width: 120px;

		p {
			font-family: $font-family-brand;

			span{
				margin: -4px;
			}
		}
		
		p:first-child{
			font-size: 28px;
		}

		p:last-child{
			font-size: 36px;
			text-align: right;
		}
	}
	//*** End Brand ***
}
//*** End Navbar-Top ***

.left-menu {
	width: 225px;
	position: absolute;
	padding-left: 30px;
	padding-top: 20px;

	a:hover {
		background-color: transparent;
	}

	&.affix{
		position: fixed;
		margin-top: -150px;
	}
}

.banner{
	width: 100%;
	height: 250px;
	background-image: image-url("banner.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

main {
	padding: 12px;
	margin-left: 225px;
}

footer .container{
	width: 350px;
}

//*** Begin Hacks ***
.left-inner-addon {
    position: relative;

    input {
	    padding-left: 30px;    
	}

	i {
	    position: absolute;
	    padding: 12px;
	    pointer-events: none;
	}
}

.right-inner-addon {
    position: relative;

    input {
	    padding-right: 30px;    
	}

	i {
	    position: absolute;
	    right: 0px;
	    padding: 12px;
	    pointer-events: none;
	}
}
//*** End Hacks ***

//*** Begin Lists ***
.title{
	padding-left: 15px;
	padding-bottom: 15px;
}

.thumbnail {
	height: 150px;

	img {
		height: 140px;
		margin-right: 12px;
	}

	.caption{

	}
}
//*** End Lists ****