/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/******** Bootswatch: Flatly *********/

// First import flatly variables
@import "bootswatch/flatly/variables";

$font-family-brand: 'Comfortaa', cursive;

// Bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// Bootswatch style itself
@import "bootswatch/flatly/bootswatch";

body{
	background-image: image-url("background.png");
}

body > .container {
	background: white;
	@include box-shadow(gray 0px 0px 2px);
}

.navbar-fixed-top {
	input {
		border-radius: 25px;
		min-width: 300px;
	}

	.profile-image {
	    margin-top: -10px;
	    margin-bottom: -10px;
	}

	.badge {
		background-color: $brand-danger;
		color: white;
		font-size: 10px;
		padding-left: 3px;
		padding-right: 3px;
		position: absolute;
		margin-top: -7px;
		margin-left: -7px;
	}

	.fa-bell {
		font-size: 20px;
	}

	.navbar-brand > .brand{
		background: $brand-primary;
		padding: 17px 12px 0px 12px;
		margin-top: -34px;
		
		&.affix-top {
			padding: 17px 12px 12px 12px;
			margin-top: -20px;
			@include box-shadow($brand-success 0px -5px 2px);
		}

		p {
			font-family: $font-family-brand;

			span{
				margin: -4px;
			}
		}
		
		p:first-child{
			font-size: 28px;
		}

		p:last-child{
			font-size: 36px;
			text-align: right;
		}

		@media screen and (vertical-scrollbar: on-top) {
			margin-top: -40px;
		}
	}
}

.left-inner-addon {
    position: relative;

    input {
	    padding-left: 30px;    
	}

	i {
	    position: absolute;
	    padding: 12px;
	    pointer-events: none;
	}
}

.right-inner-addon {
    position: relative;

    input {
	    padding-right: 30px;    
	}

	i {
	    position: absolute;
	    right: 0px;
	    padding: 12px;
	    pointer-events: none;
	}
}