<nav class="left-menu" data-spy="affix" data-offset-top="50" ng-controller="MenuController">
	<ul class="list-unstyled">
		<li ng-repeat="item in items">
			<span ng-hide="item.show" class="text-muted">{{item.group}}</span>

			<h5 ng-hide="item.group" ng-class="{ 'text-danger': item.selected() }">
				<a href="{{item.url}}" class="text-primary" ng-hide="item.selected()">{{item.text}}</a>
				<span ng-show="item.selected()">{{item.text}}</span>
				<span ng-show="item.badge" class="badge alert-danger">{{item.badge}}</span>
				<small ng-show="item.hint" class="text-muted">{{item.hint}}</small>
			</h5>
		</li>
	</ul>
</nav>

