<div class="brand" data-spy="affix" data-offset-top="60">
	<p>
		<span class="text-danger">a</span>
		<span class="text-success">n</span>
		<span class="text-danger">i</span>
		<span class="text-success">m</span>
		<span class="text-danger">e</span>
		<span class="text-success">s</span>
	</p>
	<p>
		<span class="text-danger">.</span>
		<span class="text-success">c</span>
		<span class="text-success">l</span>
		<span class="text-danger">u</span>
		<span class="text-success">b</span>
	</p>
</div>
