<div class="brand">
	<p>
		<span class="text-danger">a</span>
		<span class="text-primary">n</span>
		<span class="text-danger">i</span>
		<span class="text-primary">m</span>
		<span class="text-danger">e</span>
		<span class="text-primary">s</span>
	</p>
	<p>
		<span class="text-danger">.</span>
		<span class="text-primary">c</span>
		<span class="text-primary">l</span>
		<span class="text-danger">u</span>
		<span class="text-primary">b</span>
	</p>
</div>
