
	<div class="navbar-header">
        <a class="navbar-brand" href="/">
			Animes club
		</a>
    </div>

    <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-left" >
        	<div class="input-group">
        		<span class="input-group-addon"><i class="fa fa-search fa-inverse"></i></span>
        		<input type="search" class="form-control" placeholder="Search...">
        	</div>
        </form>
        <ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<img class="profile-image img-circle" src="http://www.gravatar.com/avatar/ee546078aeaec763c07a40d45f5465bf?s=40&d=retro" />
					<span>voidness</span><i class="caret"></i>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/user/voidness">Profile</a></li>
					<li><a href="#">Settings</a></li>
					<li class="divider"></li>
					<li><a href="http://www.google.com.br">Logout</a></li>
				</ul>
			</li>
		</ul>
    </div>