<div class="navbar-header">
	<a class="navbar-brand" href="#">
		<%= render "layouts/logo" %>
	</a>
</div>

<nav class="navbar-collapse collapse">
	<form class="navbar-form navbar-left">
		<div class="left-inner-addon">
			<i class="fa fa-search"></i>
			<input type="search" class="form-control" placeholder="Search..." />
		</div>
	</form>
	
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<img class="profile-image img-circle" src="http://www.gravatar.com/avatar/ee546078aeaec763c07a40d45f5465bf?s=40&d=retro" />
				<span>Voidness</span><i class="caret"></i>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Profile</a></li>
				<li><a href="#">Settings</a></li>
				<li class="divider"></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</li>
	</ul>
</nav>