<div class="navbar-header">
	<a class="navbar-brand" href="#">
		<div class="brand" data-spy="affix" data-offset-top="60">
			<p>
				<span class="text-danger">a</span>
				<span class="text-success">n</span>
				<span class="text-danger">i</span>
				<span class="text-success">m</span>
				<span class="text-danger">e</span>
				<span class="text-success">s</span>
			</p>
			<p>
				<span class="text-danger">.</span>
				<span class="text-success">c</span>
				<span class="text-success">l</span>
				<span class="text-danger">u</span>
				<span class="text-success">b</span>
			</p>
		</div>
	</a>

	<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main">
		<i class="fa fa-bars fa-inverse"></i>
	</button>
</div>

<nav id="navbar-main" class="navbar-collapse collapse">
	
	<form class="navbar-form navbar-left">
		<div class="left-inner-addon">
			<i class="fa fa-search"></i>
			<input type="search" class="form-control" placeholder="Search..." />
		</div>
	</form>
	
	<ul class="nav navbar-nav navbar-right">

		<!--
		<li>
			<a href="#">Animes</a>
		</li>
		-->

		<!--
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-bell"><span class="badge">3</span></i>
			</a>
			<ul class="dropdown-menu">
				<li><a>3 novas atualizações</a></li>
				<li class="divider"></li>
				<li><a href="#">New friend: Xereta1</a></li>
				<li><a href="#">New friend: Xereta2</a></li>
				<li><a href="#">New friend: Xereta3</a></li>
			</ul>
		</li>
		-->

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img class="profile-image img-circle" src="http://www.gravatar.com/avatar/ee546078aeaec763c07a40d45f5465bf?s=40&d=retro" />
			<span>Voidness</span><i class="caret"></i>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Animes</a></li>
			<li><a href="#">Friends</a></li>
			<li><a href="#">Settings</a></li>
			<li class="divider"></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</li>
</ul>
</nav>