<!DOCTYPE html>
<html>
<head>
  <title>Animes.club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Animes.club</a>

				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main">
		            <i class="fa fa-bars fa-inverse"></i>
		        </button>
			</div>
			
			<nav id="navbar-main" class="navbar-collapse collapse">
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
			            <input type="text" class="form-control" placeholder="Search..." />
			        </div>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">Animes</a>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell"><span class="badge">3</span></i>
						</a>
						<ul class="dropdown-menu">
							<li><a>3 novas atualizações</a></li>
							<li class="divider"></li>
							<li><a href="#">New friend: Xereta1</a></li>
							<li><a href="#">New friend: Xereta2</a></li>
							<li><a href="#">New friend: Xereta3</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img class="profile-image img-circle" src="http://www.gravatar.com/avatar/ee546078aeaec763c07a40d45f5465bf?s=40&d=retro" />
							<span>Voidness</span><i class="caret"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Animes</a></li>
							<li><a href="#">Friends</a></li>
							<li><a href="#">Settings</a></li>
							<li class="divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<main class="container">
		<%= yield %>
	</main>

	<footer>
		<p class="text-center">©Animes.club - Caroline Froehlich, Jiéverson Maissiat, 2014. All right reserved.</p>
	</footer>

</body>
</html>
